# --- Docker ---
DOCKER_DB_ROOT_PASSWORD=""

# --- MySQL credentials for the Python API to read WoW data ---
DB_HOST="localhost" # Localhost should be ok because they're both on verticix.com with wireguard
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""

# --- Reporting back to the site ---
SITE_API_KEY=""